@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* Paleta de Cores do Fundo e Superfícies */
    --bg-primary: #0b0d13;
    --bg-card: #151821;
    --border-card: #232838;
    /* Cores da Marca (Brand) */
    --color-brand: #4f46e5;
    --color-brand-hover: #4338ca;
    /* Botões e Ações (CTA) */
    --btn-primary-bg: #4f46e5;
    --btn-primary-hover: #4338ca;
    --btn-primary-text: #ffffff;
    /* Tipografia e Textos */
    --text-main: #0f172a;
    --text-muted: #64748b;
    --font-base: 'poppins', sans-serif;
    --font-heading: 'poppins', sans-serif;
    /* Bordas, Sombras e Raios */
    --border-light: #e2e8f0;
    --radius-sm: 6px;
    --radius-md: 12px;
    --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    /* Bold ou 600 Semi-Bold */

}

p {
    font-family: var(--font-base);
    font-weight: 400;
    /* Regular */
    line-height: 1.6;
    /* Boa leitura para blocos de texto */
}

body {
    background-color: var(--bg-primary);
    color: var(--text-main);
    font-family: var(--font-base);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    width: 100%;



    & div {
        display: flex;
        align-items: center;
        gap: 16px;
        /* Espaço uniforme entre os itens */
    }

    & h1 {
        white-space: nowrap;
        /* Não deixa "Clean Tech" quebrar a linha */
        font-size: 1.4rem;
        margin-left: 12px;
    }

    & a {
        display: inline-block;
        margin-left: 30px;
        font-size: 20px;
        color: var(--text-muted);
        border-bottom: 5px solid transparent;
        /* borda invisível por padrão */
        white-space: nowrap;
        /* Não deixa palavras como "Começar grátis" quebrar a linha */
        transition: all 0.5s ease;

        &:hover {
            color: var(--color-brand);
            border-bottom: 5px solid #54668f;
        }

        /* Estilização específica para botão "Começar */
        &.btn-comecar {
            background-color: var(--color-brand);
            color: #ffffff;
            padding: 10px 5px;
            border-radius: var(--radius-sm);
            border-bottom: none;
            /* remove a borda transparente */
        }

    }
}

/* <--- O HEADER TERMINA AQUI! */

.hero {
    padding: 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* alinha o centro do texto com o centro da imagem */

    & div:first-child {
        /* padding-top: 160px; */
        color: var(--color-brand);
    }

    & h3 {
        font-size: 80px;
    }

    & h2 {
        width: 500px;
        margin-bottom: 20px;
    }

    & p {
        width: 350px;
    }
}

#recursos {
    border: 1px solid red;
    /* padding: 80px 120px; */

    & .produtos-header {
        color: var(--color-brand-hover);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h2 {
            font-size: 40px;
            font-weight: 600;
        }

        & .detalhe {
            width: 65px;
            background-color: #0f172a;
            height: 1px;
            margin-bottom: 16px;
        }

        & p {
            width: 540px;
            margin-bottom: 30px;
        }

        & a {
            color: var(--btn-primary-bg);
            font-weight: bold;
        }
    }

    & .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*usar essa no lugar de heigth*/
        padding: 0 220px;
        margin-top: 60px;
        /* espaçamento entre os cards */
        gap: 70px;


        /* Estrutura compartilhada igualmente pelos 3 cards */
        & .card {
            border: 1px solid rgb(31, 9, 224);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--text-main);
            border-radius: var(--radius-md);
            padding: 25px 30px;
            /* width: 200px; */
            background-color: rgb(229, 212, 236);
            text-align: center;

            &.card-1 {
                background-image: linear-gradient(202.65deg, #8039f1 4.72%, #d3d2e7, #6215f1);
            }

            &.card-2 {
                background-image: linear-gradient(202.65deg, #5c4af7 4.72%, #abc3e7, #eae9f1);
            }

            &.card-3 {
                background-image: linear-gradient(202.65deg, #1b29eb59, #1e58f8, #310631);
            }

            & h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            & h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            & a {
                display: block;
                background-color: #4f46e5;
                /*usar essa no lugar de heigth*/
                line-height: 46px;
                border-radius: 25px;
                width: 100%;
                text-align: center;
                font-weight: 400;
                margin-top: 30px;
                color: #dfe1e6;
                margin-top: auto;
                box-shadow: 0 8px 7px #00000050;
            }
        }
    }

}

#habitos {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
        line-height: 40px;
        display: inline-block;
        padding: 0 15px;
        border-radius: 20px;
        background-color: var(--color-brand);
        font-weight: bold;
        color: var(--btn-primary-text);
    }

    & h2 {
        font-size: 80px;
        color: var(--text-muted);
        line-height: 1.15;
        max-width: 520px;
        margin: 16px 0;
    }

    & .detalhe {
        width: 50px;
        height: 1px;
        background-color: var(--border-light);
        margin-left: 5px;
        margin-top: -15px;
    }

    & h3 {
        font-size: 40px;
        font-weight: 500;
        color: var(--border-light);
        margin-bottom: 16px;
    }

    & p {
        width: 300px;
        margin-bottom: 16px;
        height: auto;
        display: block;
    }

    & a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 16px;
        color: var(--btn-primary-bg);
    }

    & img {
        width: 450px;
    }

}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    width: 1115px;
    height: 370px;
    background-image: linear-gradient(#0d013b, #6d39cf, #554bdd);
    border-radius: 20px;
    padding-right: 30px;
    border: 2px solid rgb(71, 24, 240);
    box-shadow: 0 20px 50px rgba(181, 205, 248, 0.4);
    text-align: right;

    & h2 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    & a {
        line-height: 50px;
        width: 280px;
        font-weight: bold;
        color: var(--bg-primary);
        display: inline-block;
        border-radius: 20px;
        background-color: var(--btn-primary-text);
        margin-top: 30px;
        text-align: center;
        box-shadow: 0 8px 7px #00000050;
    }

}

#contato {
    width: 1115px;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    background-image: linear-gradient(#dbdce6, #7169b6, #502186);
    color: #ffffff;
    padding-left: 40px;
    position: relative;

    & h2 {
        font-size: 80px;
        line-height: 84px;
    }

    & .detalhe {
        width: 50px;
        height: 1px;
        background-color: var(--border-light);
    }

    & img {
        position: absolute;
        border: 10px solid red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}